INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
m4/
Makefile
Makefile.in
po/Makefile.in.in
po/POTFILES
po/ko.gmo
po/stamp-it
.deps/
.libs/
*.la
*.lo
src/org.freedesktop.Dasom.clients.gtk.gschema.valid
stamp-h1
