Source: dasom-gtk
Section: utils
Priority: optional
Maintainer: Hodong Kim <hodong@cogno.org>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               libglib2.0-dev,
               pkg-config,
               intltool,
               libgtk-3-dev,
               libgtk2.0-dev,
               dasom (>= 1.2)
Standards-Version: 3.9.4
Homepage: https://github.com/dasom-im/dasom-gtk

Package: dasom-gtk
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, dasom (>= 1.2)
Recommends: dconf-editor
Description: GTK+ IM modules for Dasom
 dasom-gtk provides GTK+2, GTK+3 IM modules for Dasom
